attrs==19.3.0
beautifulsoup4==4.8.1
certifi==2022.12.7
chardet==3.0.4
idna==2.8
jsonpickle==1.2
lxml==4.4.2
more-itertools==8.0.2
packaging==19.2
pluggy==0.13.1
py==1.8.0
pycurl==7.43.0.3
pyparsing==2.4.5
pytest==5.3.2
requests==2.22.0
selenium==3.141.0
six==1.13.0
soupsieve==1.9.5
tornado==6.0.3
urllib3==1.25.7
wcwidth==0.1.7
